body {
  background-color: lightgray;
}

main{
  background: gray;
  text-align: center;
  max-width: 1200px;
  margin:0 auto;

}

.weatherBox{
  width:296px;
  border:2px solid red;
  float:left;
  margin:50px;
}

h1{
  color:blue;
}


