body {
  background-color: lightgreen;
  max-width: 1200;
}

nav{
  width:200px;
  background-color: lightyellow;
  height:500px;
  position: absolute;

  input{
    font-size: 20px;
  }
}

main{
  width:600px;
  background: lightyellow;
  font-family: arial;
  text-align: center;
  margin:0 auto;
  padding-bottom: 10px;
  font-size: 20px;
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  align-items: center;
  text-align: center;


  input{
    margin: 5px 10px;
  }

  #title{
    grid-row: 1;
    height:30px;
  }

  #description{
    grid-row: 2;
    height:40px;
  }

  #addBtn{
    grid-row: 3;
    height: 50px;
    width: 150px;
    margin:0 auto;
  }

  #notes{

  }

  .noteBoxClass{
    width:140px;
    border:2px solid red;
    margin-top: 20px;
  }

}